@import '../../../styles/mixins.scss';

.modalWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--size-standard);
  background-color: rgba(146, 146, 146, 0.14);
  font-family: Arial, sans-serif;
  @include font-body;
  color: var(--black-color);
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;

  @media(min-width: #{$breakpoint-desktop}) {
    width: 564px;
    height: 300px;
  }
}

.closeButton {
  position: absolute;
  top: var(--size-standard);
  right: var(--size-standard);
}
