@import 'constants';

@mixin font-body {
  font-size: var(--font-standard-size);
  font-weight: 400;
  line-height: 24px;
}

@mixin font-body-small {
  font-size: var(--font-small-size);
  font-weight: 400;
  line-height: 16px;
}

@mixin font-caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

@mixin font-h1-desktop {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

@mixin font-h1-mobile {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
}

@mixin font-h1 {
  @include font-h1-mobile;

  @media(min-width: #{$breakpoint-desktop}) {
    @include font-h1-desktop;
  }
}

@mixin font-h3-desktop {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

@mixin font-h3-mobile {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

@mixin font-h3 {
  @include font-h3-mobile;

  @media(min-width: #{$breakpoint-desktop}) {
    @include font-h3-desktop;
  }
}
