@import '../../../styles/mixins.scss';

.cardBlank {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: var(--size-standard);
  border-radius: 20px;
  background-color: var(--light-color);
  box-shadow: var(--component-shadow);

  @media(min-width: #{$breakpoint-desktop}) {
    width: 564px;
    padding: var(--size-big);
  }
}
