@import '../../styles/mixins.scss';

.headerWrapper {
  padding-inline: var(--size-standard);
  box-shadow: var(--component-shadow);
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
}

.left {
  display: flex;
  gap: var(--size-big);
  align-items: center;
}

.callCenter {
  display: flex;
  gap: var(--size-mini);
  align-items: center;

  .title {
    @include font-body-small;
  }

  .value {
    font-weight: 700;
  }

  .mark {
    font-weight: initial;
    color: var(--gray-color);
  }
}
