@import '../../styles/mixins.scss';

.headerWrapper {
  padding-inline: var(--size-standard);
  box-shadow: var(--component-shadow);
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: var(--size-micro);

  @media(min-width: #{$breakpoint-desktop}) {
    justify-content: center;
    gap: 74px;
    padding-block: var(--size-mini);
  }
}

.logoWrapper {
  order: 1;
  padding: 8px 10px;

  @media(min-width: #{$breakpoint-desktop}) {
    order: 2;
  }
}

.contacts {
  order: 2;
  display: flex;
  align-items: center;

  @media(min-width: #{$breakpoint-desktop}) {
    order: 1;
    gap: 74px;
  }
}

.callBlock {
  display: flex;
  flex-direction: column;
  gap: var(--size-micro);
  align-items: center;

  .titleWrapper {
    display: none;

    @media(min-width: #{$breakpoint-desktop}) {
      display: flex;
      gap: var(--size-mini);
      align-items: center;
    }
  }

  .phoneWrapper {
    display: flex;
    gap: var(--size-mini);
    align-items: center;
  }

  .image {
    width: 18px;
  }

  .title {
    @include font-body-small;
  }

  .value {
    font-weight: 700;
  }

  .mark {
    font-weight: initial;
    color: var(--gray-color);
  }
}
