.mainButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 56px;
  padding-inline: var(--size-huge);
  border-radius: var(--size-medium);
  background-color: var(--brand-color);
  font-weight: 700;
  color: var(--light-color);
}
