@import '../../styles/mixins.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-huge);

  @media(min-width: #{$breakpoint-desktop}) {
    flex-direction: row;
    gap: var(--size-big);
  }
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--size-big);
  align-items: center;
}

.title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;

  @media(min-width: #{$breakpoint-desktop}) {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
  }
}

.phone {
  @include font-h1;
}

.imageWrapper {
  width: 100%;

  @media(min-width: #{$breakpoint-desktop}) {
    max-width: 564px;
  }

  img {
    width: 100%;
  }
}
